newsletter-n8n-workflow.json
{
  "name": "Newsletter Welcome Email (Resend)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "newsletter-subscribe",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - New Subscriber",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "newsletter-subscribe"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-check",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-email",
      "name": "Validate Email",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "from",
              "value": "DevPlaybook <newsletter@devplaybook.cc>"
            },
            {
              "name": "to",
              "value": "={{ [$json.email] }}"
            },
            {
              "name": "subject",
              "value": "Welcome to DevPlaybook Newsletter 🚀"
            },
            {
              "name": "html",
              "value": "<!DOCTYPE html><html><body style=\"font-family:sans-serif;max-width:600px;margin:0 auto;padding:24px;background:#0f172a;color:#e2e8f0;\"><h1 style=\"color:#38bdf8;\">DevPlaybook</h1><h2 style=\"color:#f1f5f9;\">Welcome aboard! 🎉</h2><p style=\"color:#cbd5e1;line-height:1.6;\">You're now subscribed to DevPlaybook's weekly newsletter.</p><ul style=\"color:#cbd5e1;line-height:2;\"><li>🛠️ Developer tool guides</li><li>⚡ Productivity playbooks</li><li>🤖 AI workflow tips</li></ul><div style=\"margin:32px 0;text-align:center;\"><a href=\"https://devplaybook.cc/free-checklist\" style=\"background:#38bdf8;color:#0f172a;padding:12px 28px;border-radius:6px;text-decoration:none;font-weight:bold;\">Grab Your Free Dev Checklist →</a></div></body></html>"
            }
          ]
        },
        "options": {}
      },
      "id": "send-welcome-email",
      "name": "Send Welcome Email via Resend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 240],
      "credentials": {
        "httpHeaderAuth": {
          "id": "resend-api",
          "name": "Resend API Key"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: true, email: $('Webhook - New Subscriber').item.json.email } }}"
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 240]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { success: false, error: \"Invalid email\" } }}"
      },
      "id": "respond-error",
      "name": "Respond Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook - New Subscriber": {
      "main": [
        [
          {
            "node": "Validate Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Email": {
      "main": [
        [
          {
            "node": "Send Welcome Email via Resend",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Welcome Email via Resend": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_note": "Setup steps: 1) Import this workflow into n8n. 2) Add Resend API credential (httpHeaderAuth: Authorization = Bearer re_YOUR_KEY). 3) Activate workflow. 4) Copy the webhook URL and set as NEXT_PUBLIC_NEWSLETTER_WEBHOOK in vicnail-studio Vercel env vars."
}
